h1 { 
  margin: 10px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
  background-color: rgb(66, 0, 128);
}

.search-bar {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}

.search-bar input[type="text"] { 
  margin: 10px;
  padding: 25px;
  width: 190vb;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.search-bar .search-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-group {
  margin-right: 10px;
}

.form-submit {
  margin-left: auto;
}


